@charset "UTF-8";

/* 
 * 버튼 색상변경시 클래스명 하나 더 부여해서 
 * background-color / border는 칼라만
 * 변경 하면 됨
 */
/* --------------- alert창 실행시키기위한 외부 버튼 --------------- */
/*  클래스명 button 기본 베이스 */
.button {
  border-radius: 15px;
  width: 80px;
  height: 34px;
  display: inline-block;
  padding-top: 5px;
  font-size: var(--fontsize14);
  font-weight: var(--fontweight900);
}

/* 방명록 삭제(지의) */
.board-delete-btn {
  background-color: #fa453e;
  border: 2.5px solid #bf2d28;
  margin-top: 15px;
}
/* 방명록 수정(지의) */
.board-update-btn {
  background-color: #fab83e;
  border: 2.5px solid #b8872c;
  margin-top: 15px;
}

/* --------------- alert 창관련 css --------------- */
/* --------------- alert 창안에서 버튼 --------------- */
/* 확인 버튼 */
.alert-ok, .home-alert-ok {
  background-color: #c8e8c3;
  border: 2.5px solid #a1c49b;
}
/* 취소 버튼 */
#alert-cancel {
  background-color: #ededed;
  border: 2.5px solid #cfd1cf;
}
/* 버튼 클릭시 커서포인터, 버튼크기 살짝 작아지는 호버효과 */
.alert-ok:hover,
.alert-cancel:hover,
.alert-toggle:hover,
.home-alert-ok:hover {
  transform: scale(0.97);
  cursor: pointer;
}
/* 전체 틀 */
.alert, .home-alert {
  width: 350px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  background-color: #fff;
  z-index: 10;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
/* 가영 */
.infoAlert{
  width: 300px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  background-color: #fff;
  z-index: 8;
  position: fixed;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.alert-overlay, .home-alert-overlay {
  width: 100%;
  height: 100%;
  z-index: 5; /* places the modalOverlay between the main page and the modal dialog */
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}
/* 가영 */
.infoAlert-overlay{
	width: 100%;
 	height: 100%;
 	z-index: 7; /* places the modalOverlay between the main page and the modal dialog */
 	background-color: #000;
 	opacity: 0;
 	position: fixed;
 	top: 0;
 	left: 0;
 	display: none;
 	margin: 0;
 	padding: 0;
}
/* alert 실행 문구 */
h3 {
  margin-bottom: 45px;
  text-align: center;
}
.alert div {
  text-align: center;
}
.home-alert div{text-align: center;}
