/*
 * 노지의
 * 마이룸(방명록) CSS
 */
@charset "UTF-8";
:root{
    --fontsize14 : 14px;
    --fontsize16 : 16px;
    --fontsize20 : 20px;
    --fontweight200: 200;
    --fontweight400: 400;
    --fontweight600: 600;
    --fontweight900: 900;
    --userskin80: 80px;
    --friendskin80:80px;
}

/* ============================= 방명록 모달배경 ============================= */
.board-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.board-modal{
    display: none;
	position: relative;
	width: 800px;
    height: 500px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:url('../img/icon/방명록.png') no-repeat center/contain;
}


/* ============================= 방명록 리스트 ============================= */
.board-list{
    display: none;
    padding-top: 110px;
}
.apple{
    width: 18px;
    margin-right: 10px;
}
.board-content{
    margin: auto;
    width: 600px;
    line-height: 20px;
}
.board-list-area {
    border-collapse: separate;
    border-spacing: 0px 5px;
    width: 100%;
}
.board-list-area tr {cursor: pointer;}
.board-list-area td {
    border: solid 1px #c9c7be;
    border-style: solid none;
    padding: 5px 8px;
    font-weight: var(--fontweight600);
}
/* #board-title{width: 320px;} */
.board-nick{
    width: 130px;
    text-align: right;
}
.board-date{
    width: 80px;
    text-align: right;
}
/* tr태그 라운드 처리 */
.board-list-area td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.board-list-area td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


/* .board-send-list td:first-child{border: none;}
.board-send-list td:last-child{border: none;} */
/* 페이징바 */
.pageing-area{
    text-align: center;
    line-height: 40px;
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 10px);
}

/* ============================= 친구한테 쓴 방명록 목록 ============================= */
.board-send-list{
    display: none;
    padding-top: 110px;
}

/* 글쓰기 버튼 */
#writing-btn{
    position: fixed;
    right: 12.5%;
    bottom: 20%;
}


/* ============================= 방명록 공통 부분 ============================= */
.board-detail *{box-sizing: border-box;}
/* 방명록 제목 입력 백그라운드 */
.board-detail-title{
    width: 360px;
    height: 70px;
    background: url('../img/icon/라벨.png') no-repeat 0 1px / cover;
    background-size: 360px 70px;
    position: absolute;
    top: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--fontsize20);
    font-weight: var(--fontweight900);;
    text-align: center;
    padding : 28px 0; 
}
/* 방명록 기본 이미지 틀 */
.board-detail-area,.board-write-area{
    width: 600px;
    height: 340px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-51%, -50%);
    text-align: center;
    font-size: 16px;
}

/* ============================= 방명록 상세 ============================= */
.board-detail{display: none;}
/* 친구 캐릭터 스킨 */
.board-detail-friend{
    width: 30%;
    padding: 100px 0;
}
.friend-skin{width: var(--friendskin80);}
.friend-nick{
    font-size: var(--fontsize20);
    font-weight: var(--fontweight600);
    margin-top: 10px;
}

/* 방명록 내용 테이블 */
.board-detail-area div{
    font-size: var(--fontsize16);
    font-weight: var(--fontweight400);
}
.board-detail-content{
    height: 280px;
    box-sizing: border-box;
    width: 100%;
}
.board-detail-content>div{
    float: left;
    height: 100%;
}
.board-detail-table{
    width: 70%;
    height: 100%;
}
.detail-table-date{
    height: 10%;
    text-align: right;
    padding: 5px 10px;
}
.detail-table-text{
    height: 90%;
    width: 100%;
    overflow-y: scroll; /* 스크롤 처리 */
    padding: 10px 10px;
    line-height: 148%;
    text-align: left;
    border: 0.2px dotted gray;
    border-radius: 10px;
}
/* 스크롤 안보이게 */
::-webkit-scrollbar{display: none;}







/* ======================= 친구한테 쓴 방명록 상세 ======================= */
.board-send-detail{display: none;}
/* ============================= 방명록 작성 ============================= */
.board-send-detail{display: none;}
.board-write{display: none;}
.board-write-area{
    width: 600px;
    height: 340px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-51%, -50%);
    text-align: center;
    font-size: 16px;
}
.board-write-title{
    width: 302px;
    height: 36px;
    background: none;
    border: none;
    font-size: var(--fontsize20);
    font-weight: var(--fontweight900);
    text-align: center;
}
.board-write-area .board-detail-title{
    top: -28%;
    padding: 17px 0;
}
/* 비밀글 체크박스 */
.board-secret-box{text-align: right;     margin-top: 5px;}
.board-write-content{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    font-size: var(--fontsize16);
    font-weight: var(--fontweight400);
    overflow-y: scroll; /* 스크롤 처리 */
	padding: 20px 20px;
    line-height: 148%;
    text-align: left;
    border: 0.2px dotted gray;
    border-radius: 10px;
    margin-top: 12px;
}

/* back 버튼 */
/* 방명록 상세          / 친구한테 쓴 방명록 상세        / 방명록 작성  */
.board-detail .back-btn, .board-send-detail .back-btn, .board-write .back-btn{
    position: absolute;
    top: 2%;
    right: -0.2%;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/* x 버튼 */
/* 방명록 리스트    / 친구한테 쓴 방명록 리스트 */
.board-list .x-btn, .board-send-list .x-btn{
    position: absolute;
    top: 2%;
    right: -0.2%;
    width: 48px;
    height: 48px;
    cursor: pointer;  
}

/* 작성 버튼 */
.board-write-btn{
    background-color: #ffbc2b;
    border: 2.5px solid #c7952a;
    margin: 0;
}
/* 수정 버튼 */
.board-send-update-btn{
    background-color: #ffe656;
    border: 2.5px solid#f4db49;
}
/* 삭제 버튼 */
.board-send-delete-btn{
    background-color: #fa453e;
    border: 2.5px solid #bf2d28;
}

/* 버튼 호버효과 */
.board-write-btn:hover, .board-send-update-btn:hover{
    transform: scale(0.97);
    cursor: pointer;
}

/* ============================= 페이징바 ============================= */
.pageing-area ul {
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: 0;
	padding-left :0;
}
.pageing-area ul li {
    text-align: center;
    float: left;
	list-style:none;
}
.pageing-area ul li a {
    display: block;
    font-size: 14px;
	color: black;
    padding: 0 12px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
	text-decoration-line:none;	
	
    line-height: 30px;
    font-weight: 300;
}
.pageing-area ul li.on {background: #eda712;}
.pageing-area ul li.on a {color: #fff;}