
/* 광장 모달버튼 css : 작성자 윤지영 */


/*버튼 css*/
/* 없어도 문제없어서 주석처리 */
/* .button-area{
    width: 1300px;
    position: absolute;
    margin: auto;
} */


.friendList{
    position: absolute;
    bottom: 18px;
    right: 90px;
}


.Listbutton{
    position: absolute;
    bottom: 18px;
    right: 30px;
}
.button-area img{
    width: 50px;
    cursor: pointer;
}

/*모달용 css*/
.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    width: 1300px;
    height: 800px;
    position: absolute;
    margin: auto;

}


/*친구목록 모달 */

/*친구목록 img*/
.fr-modal-background {
    /* border: 1px solid red; */
    width: 238px;
    height: 374px;
    background-image: url(../img/icon/rank_box.png);
    background-repeat: no-repeat;
    background-size: 238px 374px;
    position: absolute;
    top: 350px;
    left: 1001px;
}

/*친구목록 나가기 버튼*/
.fr-modal-out-btn{
    position: absolute;
    top: 300px;
    left: 1200px;
}
    


/*친구목록 text */
.fr-modal-textarea{
    margin-top: 30px;
    overflow-y: scroll;
    max-height: 300px;
}

.display-center td {
    padding-bottom: 10px;
}

/*창크기 변경시 생기는 여백 오토로 잡기*/
.display-center {
    margin: auto;
}

.go-to-fn:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* .modal-textarea{
border: 1px solid rebeccapurple;
확인용 
}  */


/*환경설정 모달*/

/*내정보 변경 버튼*/
.fn-button{
    background-image: url(../img/icon/기본텍스트버튼2.png);
    width: 304px;
    height: 104px;
    position: absolute;
    top: 490px;
    left: 950px;
    text-align: center;
}

/*로그아웃 버튼*/
.logout-button{
    background-image: url(../img/icon/기본텍스트버튼2.png);
    width: 304px;
    height: 104px;
    position: absolute;
    top: 600px;
    left: 950px;
    text-align: center;
}

/*환경설정 text*/
.preferences-text{
    line-height: 100px;
    font-size: 40px;
    font-weight: 300;
}

.preferences-text:hover{
    font-size: 45px;
    cursor: pointer;
}


/*종료 버튼*/
.modal-out-btn2{
    position: absolute;
    top: 430px;
    right: 20px;
}


/* =========== [김혜린] 내정보 변경 / 비밀번호 입력 요구 모달css ===============*/

:root{
    --backcolor0:rgba(0, 0, 0, 0);
    --iptext-width: 374px;
    --iptext-height: 25px;
    --hiptext-width: 350px;
    --iptext-outline-color: #f5bc60;
}

/* 비밀번호 입력 요구 모달css */
.s-modal-back{
    width: 400px;
    height: 230px;
    background-size: 400px 200px;
    background-position: center bottom;
    background-image: url(../img/icon/modal_pop.png);
    background-repeat: no-repeat;
    margin: 300px auto;
}
.smodal-table{
    width: 400px;
    margin: auto;
}
.smodal-th{
    padding-left: 350px;
}
.smodal-xbtn{
    background-color: var(--backcolor0);
    border: none;
    width: 100%"
}
.sx-btn{
    width: 55px;
    height: 55px;
}
.sx-btn:hover{
transform: scale(0.970);
cursor: pointer;
}
.smodal-tb{
    font-size: 20px;
    color: white;
} 
.rqpwd-input{
    width: 210px;
 height: 27px;
 margin-left: 50px;
 margin-top: 30px;
 color: white;
 font-size: 20px;
 border-top: 0; border-left: 0; border-right: 0;
 border-bottom: 2px dashed white;
 background-color: rgba(255, 0, 0, 0);
 }
.rqpwd-input:focus{
  outline: none;
}
.rqpwd-submit-btn{
    width: 70px;
    height:35px;
    margin-right: 30px;
    margin-top: 30px;
    border: none;
    background-size: 70px 35px;
    background-image: url(../img/icon/기본버튼.png);
    background-color: var(--backcolor0);
    background-repeat: no-repeat;
    font-size:15px;
    font-weight: 900;
}
.rqpwd-submit-btn:hover{
    transform: scale(0.970);
    cursor: pointer;
}

/*============== 내정보변경 모달 ==============*/
.rin-modal-background{
    border: 0px solid red;
    width: 880px;
    height: 580px;
    background-image: url(../img/icon/notice_in.png);
    background-repeat: no-repeat;
    margin: 100px auto;
  }
  .rin-modal-background *{
    border: 0px solid red;
    /* 없애도 되는 코드 */
  }
  .rin-modal-header{
    height: 35px;
    text-align: center;
    font-size: 20px;
    font-weight:900;
    padding-top: 27px;
    padding-right: 15px;
  }
  .rin-modal-out-btn{
    height: 10%;
    display: flex;
    justify-content: right;
  }
  .rin-empty-space{
    height:30px;
}
.myinfo-modaltxtarea{
    border: 0px solid red;
    width:640px;
    height:380px;
    margin: auto;
}
.myinfo-table{
    border: 0px solid red;
    display: flex;
    justify-content:center;
}
.myinfo-table *{
    border: 0px solid red;
}
.rin-th1-wid{
    width:120px;
    text-align:left;
    font-size: 14px;
}
.rin-inputbox{
    width: var(--iptext-width);
    height: var(--iptext-height);
    font-size: 14;
    background-color: rgba(255, 255, 255, 0.5);
    outline-color: var(--iptext-outline-color);
}
.rin-readonly{
    outline: none;
    cursor: auto;
}
.rin-td3-wid{
    width:100px;
}
.rncheck-btn{
    background-color: #cac8c8;
    border: 2px solid #999999;
    padding: 3px 5px;
    cursor: pointer;
    font-weight: 600;
    transition-duration: 0.3s;
}
#sec-btn{
    color: white;
    background-color: #f84545;
    border: 2.5px solid #ff0303;
    padding: 3px 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.rncheck-btn:hover,#sec-btn:hover{
    transform: scale(0.97);
}
.rin-under-text{
    font-size: 12px;
    font-weight: 600;
}
.rin-th1-hgt{
    height: 30px;
}
.rself-info{
    background-color: rgba(255, 255, 255, 0.5);
}
.rself-info:focus{
    
    outline-color: var(--iptext-outline-color);
}
::-webkit-scrollbar{display: none;}
.scroll-fix{overflow: y}

.rin-green-btn{
    background-color: #c8e8c3;
        border: 2.5px solid #a1c49b;
        padding: 10px 30px;
        cursor: pointer;
        font-weight: 600;
        transition-duration: 0.3s;
}
.rin-green-btn:hover{
    transform: scale(0.97);
}
/* ========================================================================== */


/* 지의 추가 : 마이룸 버튼 위치 변경 */
/* 친구 목록 버튼 */
.myroom .button-area .friendList{
    position: absolute;
    bottom: 18px;
    right: 250px;
}
/*  내 정보 조회 버튼 */
.myroom .button-area .Listbutton{
    position: absolute;
    bottom: 18px;
    right: 190px;
}
/* 광장으로 가는 버튼 : */
.button-area .squareGo{
    position: absolute;
    bottom: 18px;
    right: 310px;
}
