/* 
	광장 모달버튼 카피본
	마이룸 모달버튼 css : 노지의
*/

/* 버튼 css */
.main-button-area img{
    width: 50px;
    cursor: pointer;
}
/* 광장으로 가는 버튼 */
.main-button-area .square-go-button{
    position: absolute;
    bottom: 18px;
    right: 310px;
}
/* 친구 목록 버튼 */
.main-button-area .friendList{
    position: absolute;
    bottom: 18px;
    right: 250px;
}
/*  내 정보 조회 버튼 */
.main-button-area .Listbutton{
    position: absolute;
    bottom: 18px;
    right: 190px;
}

