/**/
/* ==================================미니게임존 기본 배경 ================================== */
.mini-game{
  margin: auto; 
  background-color: black;
  background-image: url('../img/background/minigame.png');
  background-repeat: no-repeat;
  background-position: center;    
  position: relative;
  background-size: 100%;
}



/*미니게임 css : 카드 뒤집기*/

.game{
    position: absolute;
    top: 100px;
    right: 305px;
  }
  
  .filp-background {
    width: 880px;
    height: 580px;
    margin: 100px auto;  
    border: 1px solid black;
  }
  
  .game-board {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 400px;
  }
  .card {
    position: relative;
    width: 100px;
    height: 120px;
    margin: 5px;
    perspective: 1000px;
    cursor: pointer;
    
  }
  
  .card-front,.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /*뒤집었을떄 보이게 X*/
  border: 2px solid black;
  transition: transform 500ms; /*뒤집는것처럼 표현*/
  border-radius: 5px;
  
  }
  
  .card-back {
  transform: rotateY(0deg);
  background-image: url('../img/card_img/pig.png');
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  }
  .card-front {
  background-size: 80% auto;
  transform: rotateY(180deg); 
  background-repeat: no-repeat;
  background-position: center;
  }
  
  /*카드가 뒤집히면 추가될 class : flip*/
  /* Y 축 변경으로 앞뒤 바꿔줌*/
  .flip > .card-front {
  transform: rotateY(0deg);
  } 
  
  .flip > .card-back {
  transform: rotateY(180deg);
  }
  