/*
 * 노지의
 * 마이룸(옷장, 상점) CSS
 */
@charset "UTF-8";
:root{
    --fontsize14 : 14px;
    --fontsize16 : 16px;
    --fontsize20 : 20px;
    --fontsize24 : 24px;
    --fontweight200: 200;
    --fontweight400: 400;
    --fontweight600: 600;
    --fontweight900: 900;
    --userskin80: 80px;
    --friendskin80:80px;
}

/* 원형 버튼 크기 */
.circle-btn {
    width: 48px;
    cursor: pointer;  
}

/* ============================= 옷장, 상점 공통 모달 ============================= */
.closet-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
/* 옷장이미지 */
.fur-img{width: 500px;}
.coin-label-img{
    position: absolute;
    top: 7%;
    left: 45%;
    width: 160px;
    height: 60px;
}
.coin-img{	
    position: absolute;
    top: 9%;
    left: 47%;
    width: 25px;
    height: 25px;
}
/* 엑스 버튼 */
.closet-wrap .x-btn{
    position: absolute;
    width: 48px;
    height: 48px;
    top: 2%;
    right: 14%;
    cursor: pointer;
}

/* ============================= 옷장 모달 ============================= */
/* .closet-modal *{border: 1px solid red;} */
.view-skin{
    position: absolute;
    top: 38%;
    left: 25%;
}
.view-skin *{box-sizing: border-box;}
.closet-modal .user-skin, .store-modal .user-skin{
    width: 120px;
    height: 100%;
}
/* 버튼 공통 디자인 클래스 */
.closet-btn-frame{
    position: absolute;
    width: 90px;
    height: 40px;
    background: #f0ede6;
    border: 2px solid #665d49;
    /* cursor: pointer; */
    font-size: var(--fontsize16);
    font-weight: var(--fontweight900);
    letter-spacing: 1px;
}
/* 착용 버튼 */
.closet-wear, .closet-buy{top: 58%; left: 26%;}
/* 옷장 버튼 */
.dress-btn{top: 9%; left: 67.5%;}
/* 상점 버튼 */
.store-btn{top: 9%; left: 75%;}


/* 내 코인 */
.coin{
    position: absolute;
    top: 9.3%;
    left: 50%;
    font-size: var(--fontsize24);
}
/* 스킨들 들어있는 큰 박스 틀 */
.closet-skins{
    position: absolute;
    top: 19%;
    left: 48%;
    width: 400px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 33px;
    grid-column-gap: 50px;
}
.store-skins{
    position: absolute;
    top: 19%;
    left: 48%;
    width: 400px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 33px;
    grid-column-gap: 50px;
}
/* .closet-item *{border: 1px solid red;} */
/* 각각의 스킨박스 */
.closet-item{
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    text-align: center;
    position: relative;
}
.closet-item div{box-sizing: border-box;}
/* 스킨 가격 or 보유중 라벨 */
.closet-price{
    background: url(../img/icon/라벨2.png) no-repeat center/cover;
    background-size: 100px 30px;
    height: 30px;
    padding-top: 8px;
    font-weight: var(--fontweight900);
}
/* 스킨목록 캐릭터이미지크기 */
.closet-skin{
    height: 60px;
    margin-top: 10px;
    position: absolute;
    bottom: 0px; /* 하단에 이미지 고정 */
    left: 18%;
}
.closet-skin img{height: 100%; cursor: pointer;}
.store-modal{display: none;}


/* 페이징바 */
/* 옷장감싸는 div(안에 페이징바 같이 위치해있음) */
.closet-fur{
    position: absolute;
    top: 15%;
    left: 45%;
}
.paging-closet {
 	text-align: center;
	margin-top: 10px;
}
.paging-closet > button{
	font-size: var(--fontsize14);
	background-color: #edd1a1;
	border: 1px solid #d4b88a;
	border-radius: 10px;
	cursor: pointer;
}

.paging-closet > button.selected-btn {
	pointer-events: none;
	background-color: #ad966f;;
	border: 1px solid #806d4e;
}
