@charset "UTF-8";
/* 마이룸(옷장) css - 지의 */

body{margin: 0;}
/* 옷장 뒷배경 */
.myroom{
    width: 1300px;
    height: 800px;
    margin: auto;
    position: relative;
    background-color: black;
}
.myroom::before{
    content: "";
    /* background: url('/src/resource/img/background/background_myroom.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    background:url('../img/background/background_myroom2.png') no-repeat center/contain;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.font{font-weight: 900; font-size: 20px;}
.font-wh{color: white;}
.font-bk{color: black;}


/* 유저 */
.user{
    position: absolute;
    top: 45%;
    left: 23%;
}
#user-skin{width: 115px;}
.user div{
	margin-top: 8px;
	text-align: center;
	font-weight: 900;
}

/* 빈옷장 이미지 */
.furniture img{
    position: absolute;
    top: 15%;
    left: 45%;
    width: 500px;
}

/* 뒤로가기 버튼 */
#back-btn{
    position: absolute;
    right: 12%;
    scale: 0.6;
}

/* 코인 */
.coin-label{
    position: absolute;
    top: 7%;
    left: 45%;
    width: 160px;
    height: 60px;
}
.coin{
    position: absolute;
    top: 9.4%;
    left: 47%;
	display: flex;
}
.coin #coin-img{	
    width: 25px;
    height: 25px;
}
.coin .coin-text{margin: 4px 0 0 10px;}



.closet-btn{
    width: 100px;
    height: 45px;
/* 	background: url('../img/icon/기본버튼.png') no-repeat 0 0px / contain; */
    background-image: url('../img/icon/기본버튼.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(0,0,0,0);
    border: none;
    cursor: pointer; 
	
}

#my-skin{
    position: absolute;
    top: 8.5%;
    left: 65.5%;
}
#store{
    position: absolute;
    top: 8.5%;
    left: 74%;
}

