/* 마이룸 css - 지의 */
@charset "UTF-8";
@font-face {
    font-family: "DOSSaemmul";
    src: url("../font/DOSSaemmul.ttf") format("truetype");
    font-weight: normal;
}
* {font-family: 'DOSSaemmul', serif;}

body{margin: 0;}
/* ----------------------- 마이룸 기본 틀 ----------------------- */
.myroom{
    width: 1300px;
    height: 800px;
    margin: auto;
    background-color: black;
    background-image: url('../img/background/background_myroom.png');
    background-repeat: no-repeat;
    background-position: center;    
    position: relative;
}

/* 옷장 아이콘 */
.icon-closet #closet{
    position: absolute;
    top: 55%;
    left: 18%;
}
.icon-closet #closet-hover{
    position: absolute;
    top: 55%;
    left: 18%;
}
/* 옷장 호버 */
.icon-closet #closet-hover{display:none;}
.icon-closet:hover #closet{display:none;}
.icon-closet:hover #closet-hover{display:block}


/* 나무 아이콘 */
.icon-tree>#tree{
    position: absolute;
    top: 50%;
    right: 16%;
}
.icon-tree>#tree-hover{
    position: absolute;
    top: 50%;
    right: 16%;
}
/* 나무 호버 */
.icon-tree #tree-hover{display:none;}
.icon-tree:hover #tree{display:none;}
.icon-tree:hover #tree-hover{display:block}

/* 유저 */
#user-skin{
    position: absolute;
    width: 80px;
    top: 70%;
    left: 48%;
}
/* 호감도 */
input[type="checkbox"]+label {
    position: absolute;
    top: 66%;
    left: 48%;
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/icon/하트2.png') no-repeat 0 0px / contain;
    cursor: pointer; 
    padding-left: 36px; 
}
input[type='checkbox']:checked+label {
    background: url('../img/icon/빈하트.png') no-repeat 0 1px / contain;
}
/* 기본 체크박스대신 이미지가 와야하므로 감추기 */
input[type=checkbox] {
    display:none;
}
.user .font{
    color: white;
    font-size: 25px;
    font-weight: 900;
}


/* ----------------------- 팝업창 ----------------------- */
.board-wrap {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.board-modal{
    display: flex;
	position: relative;
	width: 800px;
    height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:url('../img/icon/방명록.png') no-repeat center/contain;
}

.board-list{
    display: none;
}

.board-detail{
    display: flex;
}

.board-content{
    position: absolute;
    width: 600px;
	top: 48%;
	left: 50%;
	transform: translate(-48%, -50%);
}

td{padding-top: 8px;}
#board-title{width: 452px;}
#apple{
    width: 18px;
    margin-right: 10px;
}
.board-user{
    width: 60px;
}
#board-no{display: none;}


/* x 버튼 */
.board-modal .x-btn {
    position: absolute;
    width: 48px;
    top: 2%;
    right: -0.2%;
    cursor: pointer;   
}
/* back 버튼 */
.board-detail .back-btn {
    position: absolute;
    width: 48px;
    top: 2%;
    right: -0.2%;
    cursor: pointer;  
}


/* ----------------------- 방명록 상세페이지 ----------------------- */
.board-detail *{
    border: 1px solid red;
    box-sizing: border-box;
}
.board-detail-area{
    width: 600px;
    height: 340px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-51%, -50%);
    text-align: center;

}
.board-detail-area>div{
    height: 310px;
}

.board-detail-area>button{
    height: 30px;
    display: inline-block;
}

.board-detail-content{
    display: flex;
}
#board-detail-user{
    width: 200px;
    position: relative;
}
#board-detail-user .friend{
    position: absolute;
    
}
#board-detail-table{width: 400px;}