@charset "UTF-8";
/* 마이룸 css - 지의 */
body{margin: 0;}
/* 마이룸 기본 틀 */
.myroom{
    width: 1300px;
    height: 800px;
    margin: auto;
    position: relative;
    background-color: black;
}
/* .myroom{
    width: 1300px;
    height: 800px;
    margin: auto;
    background-color: black;
    background-image: url('../img/background/background_myroom.png');
    background-repeat: no-repeat;
    background-position: center;    
    position: relative;
} */
.myroom::before{
    content: "";
    /* background: url('/src/resource/img/background/background_myroom.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    background:url('../img/background/background_myroom.png') no-repeat center/contain;    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/* 옷장 */
.icon-closet #closet{
    position: absolute;
    top: 55%;
    left: 18%;
}
.icon-closet #closet-hover{
    position: absolute;
    top: 55%;
    left: 18%;
}
/* 옷장 호버 */
.icon-closet #closet-hover{display:none;}
.icon-closet:hover #closet{display:none;}
.icon-closet:hover #closet-hover{display:block}


/* 나무 */
.icon-tree>#tree{
    position: absolute;
    top: 50%;
    right: 16%;
}
.icon-tree>#tree-hover{
    position: absolute;
    top: 50%;
    right: 16%;
}
/* 나무 호버 */
.icon-tree #tree-hover{display:none;}
.icon-tree:hover #tree{display:none;}
.icon-tree:hover #tree-hover{display:block}

/* 유저 */
#user-skin{
    position: absolute;
    width: 80px;
    top: 70%;
    left: 48%;
}
/* 호감도 */
input[type="checkbox"]+label {
    position: absolute;
    top: 66%;
    left: 48%;
    display: block;
    width: 24px;
    height: 24px;
    background: url('../img/icon/하트2.png') no-repeat 0 0px / contain;
    cursor: pointer; 
    padding-left: 36px; 
}
input[type='checkbox']:checked+label {
    background: url('../img/icon/빈하트.png') no-repeat 0 1px / contain;
}
/* 기본 체크박스대신 이미지가 와야하므로 감추기 */
input[type=checkbox] {
    display:none;
}
.user .font{
    color: white;
    font-size: 25px;
    font-weight: 900;
}


/* 모달 */
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);

}
#modal .modal-window {
	background:url('../img/icon/방명록.png') no-repeat center/contain;
    width: 800px;
    height: 500px;
    position: absolute;
    margin: auto;
}

#modal .x-btn {
    position: absolute;
    top: -1%;
    right: -2.2%;
    cursor: pointer;
    scale: 0.56;
}
