@charset "UTF-8";
/* 공지사항 게시판css - 가영*/

::-webkit-scrollbar{display: none;}

/*공지사항 게시판*/
.notice-modal{
	position: absolute;
    width: 59%;
    top: 37%;
    left: 50%;
    height: 62%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}
.notice-view, #notice-view{
	width: 100%;
	height: 100%;
	position: absolute;
}
.notice-name{
	position: absolute;
    z-index: 2;
    top: 3.5%;
    left: 36.2%;
    width: 27.2%;
    height: 9.8%;
    text-align: center;
    line-height: 52px;
    font-size: 30px;
    font-weight: bold;
}

/*호감도 랭킹*/
.ranking{
	position: absolute;
    z-index: 2;
    top: 19%;
    left: 15.8%;
    width: 67.5%;
    height: 37%;
    display: inline-flex;
}

/*랭킹 1위*/
.ranking1, .ranking2, .ranking3{
	width: 23%;
    height: 100%;
}
#ranking-heart{
	width: 17%;
	margin: 19px 0 0 37px;
}
.ranking-heart-int{
	width: 15%;
    margin: -41px 0 -6px 58px;
    font-size: 21px;
    color: white;
}
#ranking-user{
	width: 86%;
    height: 40%;
    margin: 16px 0 0 10px;
}
.ranking-nickname{
	width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin: 14px 0 0 -1px;
}
.ranking2{margin: auto;}

/*공지사항 게시판 포스트잇*/
.notice-list{
	position: absolute;
    z-index: 2;
    width: 88%;
    height: 36%;
    top: 59%;
    left: 5.5%;
    text-align: center;
}
.list-post{
	background: url('../img/icon/포스트잇.png') no-repeat;
	display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 24%;
    background-size: 100% 100%;
}
.notice-title{
	width: 63%;
    text-align: center;
    line-height: 24px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

/*닫기 버튼*/
.notice-x-btn{
	z-index: 2;
    position: absolute;
    top: 4.5%;
    left: 93%;
    width: 6%;
    height: 9.5%;
    cursor: pointer;
}
#notice-x-btn{width:100%; height: 100%;}

/*공지사항 상세보기창*/
.notice-detail-modal{
	position: absolute;
    width: 59%;
    top: 37%;
    left: 50%;
    height: 62%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}
.detail-view #detail-view{
	width: 100%;
    height: 100%;
    position: absolute;
}
.notice-detail-name{
	position: absolute;
    z-index: 2;
    top: 3.5%;
    left: 36.5%;
    width: 27.2%;
    height: 9.8%;
    text-align: center;
    line-height: 52px;
    font-size: 30px;
    font-weight: bold;
}

/*공지사항 리스트*/
.notice-detail-list{
	position: absolute;
    z-index: 2;
    top: 24%;
    left: 6%;
    line-height: 30px;
    list-style: none;
    width: 18.9%;
}
.detail-list{
	padding: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid tan;
    cursor: pointer;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.detail-list:before{
	content: ">";
	display: inline-block;
	vertical-align: middle;
	padding: 0px 5px 4px 0px;
}
.detail-list:hover{
	border-radius: 10px;
	background: tan;
}

.notice-date{
    position: absolute;
    z-index: 2;
    top: 26.8%;
    left: 78.2%;
}

.notice-detail-title{
    position: absolute;
    z-index: 2;
    border: solid 1px gray;
    top: 30.7%;
    left: 37.1%;
    width: 49.4%;
    height: 6%;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
}
.notice-content{
    position: absolute;
    z-index: 2;
    border: solid 1px gray;
    top: 38%;
    left: 37.1%;
    width: 49.4%;
    height: 46.1%; 
    border-radius: 6px;  
    padding: 0.5rem 0.5rem;
    overflow-y: scroll;
    line-height: 20px;
    font-size: 14px;
    text-align: justify;
}

.notice-pageing-area{
	position: absolute;
	top: 77%;
    left: 11.2%;
}
#notice-pagingul {
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    border-right: 0;
	padding-left :0;
}
#notice-pagingul li {
    text-align: center;
    float: left;
	list-style:none;
}
#notice-pagingul li a {
    display: block;
    font-size: 14px;
	color: black;
    padding: 0 12px;
    border-right: solid 1px #ccc;
    box-sizing: border-box;
	text-decoration-line:none;	
    line-height: 30px;
    font-weight: 300;
}
#notice-pagingul li.on {background: tan;}
#notice-pagingul li.on a {color: #fff;}


/*닫기 버튼*/
.notice-detail-x-btn{
	z-index: 2;
    position: absolute;
    top: 4.7%;
    left: 93%;
    width: 5.7%;
    height: 9%;
    cursor: pointer;
}
#notice-detail-x-btn{width:100%; height: 100%;}