@charset "UTF-8";

.report{
    position: relative;
    z-index: 5;
    transform: translate(93%, 30%);
    width: 35%;
}
.report-img{width: 100%;}
.report-backimg{
    position: absolute;
    z-index: 6;
    left: 13%;
    top: 17.5%;
    width: 71.7%;
    height: 67%;
    opacity: 0.5;
    border: solid 2px wheat;
    border-radius: 7px;
}
.report-nickname{
    position: absolute;
    z-index: 6;
    top: 20.5%;
    left: 14.5%;
    width: 28.6%;
    height: 4.5%;
}
.user-nickname{
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    z-index: 6;
    position: absolute;
    top: 19.5%;
    left: 44%;
    background-color: tan;
    width: 31%;
    height: 6%;
    text-align: center;
    line-height: 29px;
}
.report-content{
    position: absolute;
    z-index: 6;
    top: 27%;
    left: 14.5%;
}
#report-content-text{
    position: absolute;
    z-index: 6;
    top: 32%;
    left: 14.5%;
    background-color: tan;
    opacity: 0.7;
    resize: none;
    width: 66%;
    height: 47.5%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    line-height: 20px;
    text-align: justify;
}
.report-btn{
	position: absolute;
    z-index: 5;
    top: 86.8%;
    left: 30.6%;
    width: 19%;
    height: 7%;
    border-radius: 5px;
    border: solid 1px rgb(92, 60, 19);
    color: rgb(92, 60, 19);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.report-btn:hover{
    background-color: rgb(241, 107, 107);
}
.reset-btn{
	position: absolute;
    z-index: 5;
    top: 86.8%;
    left: 55.7%;
    width: 11.8%;
    height: 7%;
    border-radius: 5px;
    border: solid 1px rgb(92, 60, 19);
    color: rgb(92, 60, 19);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
::-webkit-scrollbar{display: none;}