
/*모달용 css*/
.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    width: 1300px;
    height: 800px;
    position: relative;
    margin: auto;

}


/*친구목록 모달 */
.modal-background {
    /* border: 1px solid red; */
    width: 238px;
    height: 374px;
    background-image: url(../img/icon/rank_box.png);
    background-repeat: no-repeat;
    background-size: 238px 374px;
    position: absolute;
    top: 350px;
    left: 1001px;
}

.modal-out-btn {
    display: flex;
    justify-content: right;
}

.x-btn {
    width: 55px;
    height: 55px;
}

/* .modal-textarea{
border: 1px solid rebeccapurple;
확인용 
}  */

.display-center td {
    padding-bottom: 9px;
}

/*창크기 변경시 생기는 여백 오토로 잡기*/
.display-center {
    margin: auto;
}


/*환경설정 모달*/
.modal_button1 {
    background-image: url(../img/icon/기본텍스트버튼2.png);
    width: 304px;
    height: 104px;
    position: absolute;
    top: 600px;
    left: 950px;
}


.modal_button2 {
    background-image: url(../img/icon/기본텍스트버튼2.png);
    width: 304px;
    height: 104px;
    position: absolute;
    top: 490px;
    left: 950px;
}

h1{
    text-align: center;
}

.modal-out-btn2{
    position: absolute;
    top: 430px;
    right: 20px;
}

