/* 유저 정보창 css - 가영 */
.wrap{width:1300px; height:800px;}
/*정보창*/
.user-info-view{
	z-index: 1;
	width: 57.5%;
	height: 62%;
	transform: translate(36%, 20%);
	position: relative;
}

/*닉네임*/
.nickname{
	z-index: 2;
	top: 18%;
    left: 40.1%;
    width: 19.3%;
    height: 6%;
	font-weight: bold;
    font-size: 28px;
    text-align: center;
    line-height: 188%;
    position: absolute;
}

/*호감도*/
.heart{
    z-index: 2;
    position: absolute;
    top: 31.6%;
    left: 31.5%;
    width: 2.5%;
}
.heart-off{width: 100%;}
.heart-int{
	z-index: 2;
    position: absolute;
    top: 31.1%;
    left: 34.5%;
    color: white;
    font-size: 33px;
}

/*유저 캐릭터*/
.user{
	z-index: 2;
	position: absolute;
	top: 37%;
    left: 29%;
	width: 11%;
}
.user img{width: 100%;}

/*성별*/
.gender{
    z-index: 2;
    position: absolute;
    left: 33.9%;
    top: 59%;
    width: 1.5%;
}
.gender img{width: 100%;}

/*자기소개*/
.introduce{
	position: absolute;
	z-index: 2;
	width: 24%;
    height: 22.5%;
    top: 27.8%;
    left: 44.8%;
	overflow-y: scroll;
	padding: 0.8rem 1rem;
	line-height: 133%;
}

/*자기소개 스크롤바 감추기*/
.introduce::-webkit-scrollbar{display: none;}

/*하단 버튼*/
button{
	background: none;
    border: 0;
    cursor: pointer;
    color: white;
    height: 100%;
    font-size: 17px;
}
.button{
	z-index: 2;
    position: absolute;
    border: 0;
    top: 88.1%;
    left: 49.5%;
    display: inline-block;
    width: 21.3%;
    height: 4%;
}
.button2{
	z-index: 2;
    position: absolute;
    border: 0;
    top: 96.6%;
    left: 49.5%;
    display: inline-block;
    width: 21.3%;
    height: 4%;
}
.plus, .chatting{float: left;}
.friend-home, .report{float: right;}
