@charset "UTF-8";

/* 유저 정보창 css - 가영 */

/*모달창 숨기기*/
.hidden{display: none;}

/*스크롤바 감추기*/
::-webkit-scrollbar{display: none;}

/*---------------------------------- 정보창 ----------------------------------*/
.info-wrap{
	magin: auto;
	width: 1300px;
	height: 800px;
    background-image: url("../img/background/background_main.png");
    background-repeat: no-repeat;
    position: relative;
}
.user-info{
	z-index: 1;
	width: 57.5%;
	height: 62%;
	transform: translate(38.5%, 20%);
	position: absolute;
}
#info-view{width:100%;}

/*닉네임*/
.nickname{
	z-index: 2;
	top: 17.7%;
    left: 41.6%;
    width: 19.3%;
    height: 6.3%;
	font-weight: bold;
    font-size: 28px;
    text-align: center;
    line-height: 197%;
    position: absolute;
}

/*호감도*/
.heart{
    z-index: 2;
    position: absolute;
    top: 32.5%;
    left: 33%;
    width: 2.5%;
    cursor: pointer;
}
#heart-off{width: 100%;}

/*호감도 갯수*/
.heart-int{
	z-index: 2;
    position: absolute;
    top: 32.1%;
    left: 36.2%;
    color: white;
    font-size: 33px;
    cursor: pointer;
}

/*유저 캐릭터*/
.user-skin{
	z-index: 2;
    position: absolute;
    top: 39.5%;
    left: 31.5%;
    width: 10%;
}
#skin{width: 100%;}

/*성별*/
.user-gender{
    z-index: 2;
    position: absolute;
    left: 33%;
    top: 53.8%;
}
#gender-w{
	width: 18px;
    transform: translate(29px, 22px);
}
#gender-m{
	width: 23px;
    transform: translate(27px, 37px);
}
#gender-n{
	width: 51px;
    transform: translate(13px, -35px);
}

/*자기소개*/
.introduce{
	position: absolute;
	z-index: 2;
	width: 24.5%;
    height: 22.5%;
    top: 27.7%;
    left: 45.9%;
	overflow-y: scroll;
	padding: 0.8rem 1rem;
	line-height: 22px;
	text-align: justify;
	font-size: 14px;
}

/*하단 버튼*/
.btns1 button, .btns2 button{
	background: none;
    border: 0;
    cursor: pointer;
    color: white;
    height: 100%;
    font-size: 17px;
}

/*친구추가&친구삭제, 놀러가기 버튼*/
.btns1{
	z-index: 2;
    position: absolute;
    border: 0;
    top: 56.6%;
    left: 49%;
    display: inline-block;
    width: 20.6%;
    height: 4%;
}

/*1:1채팅, 신고하기 버튼*/
.btns2{
	z-index: 2;
    position: absolute;
    border: 0;
    top: 63%;
    left: 49%;
    display: inline-block;
    width: 20.4%;
    height: 4%;
}
.plus, .delete, .chatting{float: left;}
.friend-home, .report{float: right;}

/*닫기 버튼*/
.x-btn{
	z-index: 2;
    position: absolute;
    top: 19.7%;
    left: 75.4%;
    width: 3%;
    height: 4.9%;
    cursor: pointer;
}
.x-btn img{width:100%;}

.user1{
	z-index: 2;
    position: absolute;
    top: 8%;
    left: 82%;
    font-size: x-large;
    height: 20%;
}

/*---------------------------------- 신고하기창 ----------------------------------*/
.report-wrap{
	width: 1300px;
	height: 800px;
}
.report-modal{
    position: relative;
    z-index: 5;
    transform: translate(77%, 16%);
    width: 42%;
}
#report-view{width: 100%;}
#report-bgview{
    position: absolute;
    z-index: 6;
    left: 13%;
    top: 17.5%;
    width: 71.7%;
    height: 67%;
    opacity: 0.5;
    border: solid 2px wheat;
    border-radius: 7px;
}
/*신고 대상 닉네임*/
.report-nickname{
    position: absolute;
    z-index: 6;
    top: 20.5%;
    left: 14.5%;
    width: 28.6%;
    height: 4.5%;
}
.user-nickname{
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    z-index: 6;
    position: absolute;
    top: 19.5%;
    left: 39.5%;
    background-color: tan;
    width: 31%;
    height: 6%;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
}
/*신고 제목*/
.report-title{
	position: absolute;
    z-index: 6;
    top: 28%;
    left: 14.5%;
    width: 28.6%;
    height: 4.5%;
}
.title-box{
	opacity: 0.7;
    border: none;
    border-radius: 5px;
    z-index: 6;
    position: absolute;
    top: 26.5%;
    left: 21.5%;
    background-color: tan;
    width: 60%;
    height: 6%;
    line-height: 34px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}
/*글자수 세기*/
.text-count{
	position: absolute;
    z-index: 6;
    top: 36%;
    left: 73%;
}
.text-total{
	position: absolute;
    z-index: 6;
    top: 36%;
    left: 76.5%;
}
/*신고 내용*/
.report-content{
    position: absolute;
    z-index: 6;
    top: 34.5%;
    left: 14.5%;
}
#report-content-text{
    position: absolute;
    z-index: 6;
    top: 39%;
    left: 14.5%;
    background-color: tan;
    opacity: 0.7;
    resize: none;
    width: 66.5%;
    height: 41.8%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    line-height: 20px;
    text-align: justify;
    font-size: 16px;
}
/*신고하기 버튼*/
.report-btn{
	position: absolute;
    z-index: 5;
    top: 86.8%;
    left: 30.6%;
    width: 19%;
    height: 7%;
    border-radius: 5px;
    border: solid 1px rgb(92, 60, 19);
    color: rgb(92, 60, 19);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.report-btn:hover{
    background-color: rgb(241, 107, 107);
}
/*취소 버튼*/
.reset-btn{
	position: absolute;
    z-index: 5;
    top: 86.8%;
    left: 55.7%;
    width: 11.8%;
    height: 7%;
    border-radius: 5px;
    border: solid 1px rgb(92, 60, 19);
    color: rgb(92, 60, 19);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
