@charset "UTF-8";

/* 유저 정보창 css - 가영 */

/*모달창 숨기기*/
.hidden{display: none;}



/*---------------------------------- 정보창 ----------------------------------*/
.info-modal, .my-info-modal{
	position: absolute;
	width: 51%;
    top: 36%;
    left: 50%;
    height: 58%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
.info-modal-overlay{
	width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
}
.user-info, #info-view, .my-info, #my-info-view{
	width: 100%;
	height: 100%;
	position: absolute;
}

/*닉네임*/
.info-nickname, .my-info-nickname{
	position: absolute;
	top: 45px;
    left: 33.9%;
    width: 33.5%;
    height: 9.6%;
	font-weight: bold;
    font-size: 27px;
    text-align: center;
    line-height: 43px;
}

/*호감도*/
.info-heart{
	position: absolute;
    top: 32.5%;
    left: 19%;
    width: 33px;
    height: 29px;
    cursor: pointer;
}
.my-info-heart{
	position: absolute;
    top: 32.5%;
    left: 19%;
    width: 33px;
    height: 29px;
}
#heart-off, #my-info-heart-off{
	width: 100%;
	height: 100%;
	/* background: url('../img/icon/빈하트.png') no-repeat center/contain; */
}
#heart-on, #my-info-heart-on{
	width: 100%;
	height: 100%;
	display: none;
	/* background: url('../img/icon/하트.png') no-repeat center/contain; */
}

/*호감도 갯수*/
.heart-int, .my-heart-int{
    position: absolute;
    top: 31.8%;
    left: 25%;
    color: white;
    font-size: 31px;
}

/*유저 캐릭터*/
.info-skin, .my-info-skin{
    position: absolute;
    top: 44.5%;
    left: 17%;
    width: 15%;
}
#info-skin, #my-info-skin{
	width: 100%;
}

/*성별*/
.info-gender, .my-info-gender{
    position: absolute;
    left: 10%;
    top: 65.2%;
}
#gender-w, #my-gender-w{
	width: 18px;
	height: 30px;
    transform: translate(88px, 42px);
    display: none;
    /* background: url('../img/icon/여자.png') no-repeat center/contain; */
}
#gender-m, #my-gender-m{
	width: 22px;
	height: 30px;
    transform: translate(87px, 39px);
    display: none;
    /* background: url('../img/icon/남자.png') no-repeat center/contain; */
}
#gender-n, #my-gender-n{
	width: 51px;
	height: 50px;
    transform: translate(70px, 31px);
    /* background: url('../img/icon/성별비공개.png') no-repeat center/contain; */
}

.info-my-room {
	position: absolute;
    left: 63%;
    top: 80.2%;
    width: 6.5%;
    cursor: pointer;
    z-index: 2;
}
#info-my-room {
	width: 100%;
}

/*자기소개*/
.info-introduce{
	position: absolute;
    width: 46.8%;
    height: 42%;
    top: 25%;
    left: 41.5%;
	padding: 0.8rem 1rem;
	line-height: 22px;
	text-align: justify;
	font-size: 14px;
	box-sizing: border-box;
	display: flex;
    justify-content: center;
    align-items: center;
}
.my-info-introduce{
	position: absolute;
    width: 46.8%;
    height: 60%;
    top: 25%;
    left: 41.5%;
	padding: 0.8rem 1rem;
	line-height: 22px;
	text-align: justify;
	font-size: 14px;
	box-sizing: border-box;
	display: flex;
    justify-content: center;
    align-items: center;
}

/*하단 버튼*/
.btns1 button, .btns2 button{
	background: none;
    border: 0;
    cursor: pointer;
    color: white;
    height: 100%;
    font-size: 17px;
}

/*친구추가&친구삭제, 놀러가기 버튼*/
.btns1{
    position: absolute;
    border: 0;
    top: 72.1%;
    left: 46%;
    display: inline-block;
    width: 37%;
    height: 4%;
}

/*1:1채팅, 신고하기 버튼*/
.btns2{
    position: absolute;
    border: 0;
    top: 82.5%;
    left: 46.4%;
    display: inline-block;
    width: 36.7%;
    height: 4%;
}
.plus, .delete, .info-chatting{float: left;}
.friend-home, .info-report-btn{float: right;}
.delete{
	display: none;
}

/*닫기 버튼*/
.info-x-btn, .my-info-x-btn{
    position: absolute;
    top: 11.5%;
    left: 92.2%;
    width: 6%;
    height: 8.2%;
    cursor: pointer;
}
#info-x-btn, #my-info-x-btn{
	width: 100%;
	height: 100%;
}

/*---------------------------------- 신고하기창 ----------------------------------*/
.report-modal{
	position: absolute;
    width: 35%;
    top: 37%;
    left: 50%;
    height: 60%;
    transform: translate(-50%, -50%);
    z-index: 6;
}
.report-modal-overlay{
	width: 100%;
    height: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
}
.user-report, #report-view{
    width: 100%;
	height: 100%;
	position: absolute;
}
#report-bgview{
    position: absolute;
    left: 13%;
    top: 17%;
    width: 71.9%;
    height: 68%;
    opacity: 0.5;
    border: solid 2px wheat;
    border-radius: 7px;
}
/*신고 대상 닉네임*/
.report-nickname{
    position: absolute;
    top: 19.5%;
    left: 14.5%;
    width: 28.6%;
    height: 4.5%;
}
.report-user{
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    top: 18.5%;
    left: 43.5%;
    background-color: tan;
    width: 31%;
    height: 6%;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
}
/*신고 제목*/
.report-title{
	position: absolute;
    top: 27%;
    left: 14.5%;
}
.report-title-box{
	opacity: 0.7;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 26%;
    left: 22%;
    background-color: tan;
    width: 59.7%;
    height: 6%;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}
/*신고 내용*/
.report-content{
    position: absolute;
    top: 34%;
    left: 14.5%;
}
/*글자수 세기*/
.content-text-count{
	position: absolute;
    top: 35%;
    left: 73%;
    font-size: 13px;
}
.content-text-total{
	position: absolute;
    z-index: 1;
    top: 35%;
    left: 76.5%;
    font-size: 13px;
}
#report-content-text{
    position: absolute;
    top: 39%;
    left: 14.5%;
    background-color: tan;
    opacity: 0.7;
    resize: none;
    width: 66.2%;
    height: 34.9%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    line-height: 20px;
    text-align: justify;
    font-size: 16px;
}

#report-content-text::-webkit-scrollbar{display: none;}

.report-precautions{
	top: 79%;
    left: 14%;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: #ff0000b8;
}

/*신고하기 버튼*/
.report-btn{
	position: absolute;
    top: 86.8%;
    left: 30.4%;
    width: 19%;
    height: 7%;
    border-radius: 5px;
    border: solid 1px rgb(92, 60, 19);
    color: rgb(92, 60, 19);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.report-btn:hover{
    background-color: rgb(241, 107, 107);
}
/*취소 버튼*/
.reset-btn{
	position: absolute;
    top: 86.8%;
    left: 55.4%;
    width: 12.5%;
    height: 7%;
    border-radius: 5px;
    border: solid 1px rgb(92, 60, 19);
    color: rgb(92, 60, 19);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
