<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">


<properties>

<!-- ================= select 구간 ======================== -->

	<!--[han]-->
	<entry key="userCount">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER
		WHERE STATUS = 'Y'
	</entry>

	<!-- [혜린] -->
	<entry key="loginMember">
		SELECT * 
		FROM MEMBER
		WHERE USER_ID = ?
		  AND USER_PWD = ?
	</entry>

	<!-- [혜린] -->
	<entry key="checkKey">
		SELECT M.USER_ID,USER_PWD,NICKNAME,STATUS,SKIN_ID,COIN,SELF_INFO,GENDER,ENROLL_DATE
		FROM MEMBER M, LOGIN_API A
		WHERE M.USER_ID = A.USER_ID 
		AND API_KIND = ?
		AND API_KEY = ?
	</entry>

	<!-- [혜린] -->
	<entry key = "loginApi">
		SELECT *
		FORM LOGIN_API
		WHERE API_KEY = ?
	</entry>
	
	<!-- [혜린] -->
	<entry key="checkId">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = ?
	</entry>
	
	<!-- [혜린] -->
	<entry key="checkNick">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE NICKNAME = ?
	</entry>
	
	
	
<!-- ================= insert 구간 ======================== -->
	<!-- [혜린] -->
	<entry key="insertMember">
		INSERT INTO MEMBER( USER_ID,
							USER_PWD,
							NICKNAME)
					VALUES (?,
							?,
							?)
	</entry>

	<!-- [혜린] -->
	<entry key = "insertKey">
		INSERT INTO LOGIN_API(USER_ID,
							  API_KIND,
							  API_KEY)
					   VALUES(?,
					   		  ?,
					   		  ?)
	</entry>




</properties>