<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT USER_ID,
			   NICKNAME,
			   SKIN_ID,
			   SELF_INFO,
			   GENDER
		FROM MEMBER
		WHERE USER_ID = ?
		  AND USER_PWD =?
	</entry>
</properties>