<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

<!-- ================= select 구간 ======================== -->

	<!--[han]-->
	<entry key="userCount">
		SELECT COUNT(*) AS COUNT
		FROM MEMBER
		WHERE STATUS = 'Y'
	</entry>

	<!-- [혜린] -->
	<entry key="loginMember">
		SELECT * 
		FROM MEMBER
		WHERE USER_ID = ?
		  AND USER_PWD = ?
	</entry>

	<!-- [혜린] -->
	<entry key="checkKey">
		SELECT M.USER_ID,USER_PWD,NICKNAME,STATUS,SKIN_ID,COIN,SELF_INFO,GENDER,ENROLL_DATE
		FROM MEMBER M, LOGIN_API A
		WHERE M.USER_ID = A.USER_ID 
		AND API_KIND = ?
		AND API_KEY = ?
	</entry>

	<!-- [혜린] -->
	<entry key = "loginApi">
		SELECT *
		FORM LOGIN_API
		WHERE API_KEY = ?
	</entry>
	
	<!-- [혜린] -->
	<entry key="checkId">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = ?
	</entry>
	
	<!-- [혜린] 
	<entry key="checkPwd">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_PWD = ?
	</entry>-->
	
	<!-- [혜린] -->
	<entry key="checkNick">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE NICKNAME = ?
	</entry>
	
	<!-- [가영] 유저 정보 불러오기 -->
	<entry key="selectMember">
		SELECT USER_ID,
			   NICKNAME,
			   SKIN_ID,
			   SELF_INFO,
			   GENDER
		FROM MEMBER
		JOIN CHARACTER_SKIN USING(SKIN_ID)
		WHERE USER_ID = ?
	</entry>
	
	<!-- [가영] 신고 정보 db 저장 -->
	<entry key="insertReport">
		INSERT INTO REPORT (REPORT_NO,
							USER_ID,
							RECEIVE_ID,
							REPORT_TITLE,
							REPORT_CONTENT)
		VALUES (SEQ_REPORT.NEXTVAL,
				?,
				?,
				?,
				?)
	</entry>
	
	<!-- [가영] 호감도 추가, 삭제, 조회 -->
	<entry key="insertHeart">
		INSERT INTO HEART(USER_ID, RECEIVE_ID)
		VALUES (?, ?)
	</entry>
	
	<entry key="deleteHeart">
		DELETE FROM HEART
		WHERE USER_ID = ?
		  AND RECEIVE_ID =?
	</entry>
	
	<entry key="selectHeart">
		SELECT COUNT(*) 
		FROM HEART
		WHERE USER_ID = ?
		  AND RECEIVE_ID =?
	</entry>
	
	<!-- [가영] 친구 추가, 삭제, 조회 -->
	<entry key="insertFriend">
		INSERT INTO FRIEND(USER_ID, FRIEND_ID)
		VALUES (?, ?)
	</entry>
	
	<entry key="deleteFriend">
		DELETE FROM FRIEND
		WHERE USER_ID = ?
		  AND FRIEND_ID =?
	</entry>
	
	<entry key="selectFriend">
		SELECT COUNT(*) 
		FROM FRIEND
		WHERE USER_ID = ?
		  AND FRIEND_ID =?
	</entry>


	
	
	
<!-- ================= insert 구간 ======================== -->
	<!-- [혜린] -->
	<entry key="insertMember">
		INSERT INTO MEMBER( USER_ID,
							USER_PWD,
							NICKNAME)
					VALUES (?,
							?,
							?)
	</entry>

	<!-- [혜린] -->
	<entry key = "insertKey">
		INSERT INTO LOGIN_API(USER_ID,
							  API_KIND,
							  API_KEY)
					   VALUES(?,
					   		  ?,
					   		  ?)
	</entry>
	
<!-- ================= update 구간 ======================== -->
<!-- [혜린] -->
	<entry key = "updatePwd">
		UPDATE MEMBER
		   SET USER_PWD = ?
		 WHERE USER_ID = ?
	</entry>



</properties>