<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<!-- [han] -->
<properties>

	<entry key="getChatRoom">
		SELECT
		    COUNT(*) AS COUNT
		FROM
		    CHATTINGROOM
		WHERE
		    USER_ID = ? AND RECEIVE_ID = ?
	</entry>

	<entry key="getChatRooms">
		SELECT
		    RECEIVE_ID
		FROM
		    CHATTINGROOM
		WHERE
		    USER_ID = ?
		ORDER BY
		    RECEIVE_ID
	</entry>
	
	<entry key="getChattings">
		SELECT *
		FROM (	SELECT *
				FROM CHATTING 
				WHERE (USER_ID, RECEIVE_ID) IN(( ? , ? ),( ? , ? ))
					AND CHAT_NO &lt; ?
					AND CREATE_DATE > SYSDATE-7
				ORDER BY CREATE_DATE DESC, CHAT_NO DESC )
		WHERE ROWNUM &lt;= 50
		ORDER BY ROWNUM DESC
	</entry>
	<entry key="getChattingsNew">
		SELECT *
		FROM (	SELECT *
				FROM CHATTING 
				WHERE (USER_ID, RECEIVE_ID) IN(( ? , ? ),( ? , ? ))
					AND CREATE_DATE > SYSDATE-7
				ORDER BY CREATE_DATE DESC, CHAT_NO DESC )
		WHERE ROWNUM &lt;= 50
		ORDER BY ROWNUM DESC
	</entry>

	
	<entry key="insertChatRoom">
		INSERT INTO CHATTINGROOM VALUES( ? , ? )
	</entry>

	<entry key="insertChat">
		INSERT INTO CHATTING VALUES(SEQ_CHAT.NEXTVAL, ? , ? , ?, SYSDATE)
	</entry>


	<entry key="deleteChatRoom">
		DELETE FROM CHATTINGROOM
			WHERE  USER_ID = ? 
				AND RECEIVE_ID = ?
	</entry>
</properties>