<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<!-- [han] -->
<properties>

<!-- SELECT 구역 -->

	<entry key="getChatRoomCount">
		SELECT
		    COUNT(*) AS COUNT
		FROM
		    CHATTINGROOM
		WHERE
		    USER_ID = ? AND RECEIVE_ID = ?
	</entry>

	<entry key="getChatRooms">
		SELECT
		    RECEIVE_ID, NICKNAME
		FROM
		    CHATTINGROOM C
        join MEMBER M on RECEIVE_ID = M.USER_ID
		WHERE
		    C.USER_ID = ?
		ORDER BY
		    RECEIVE_ID
	</entry>
	
	<entry key="getChattings">
		SELECT *
		FROM (
		    SELECT C.*,  NICKNAME AS USER_NICK
		    FROM CHATTING C
            INNER JOIN MEMBER M ON C.USER_ID = M.USER_ID
		    WHERE (C.USER_ID, RECEIVE_ID) IN (( ? , ? ), ( ? , ? ))
		    AND CHAT_NO &lt; ?
		    AND CREATE_DATE > SYSDATE-7
		    ORDER BY  CHAT_NO DESC , CREATE_DATE  DESC
		)
		WHERE ROWNUM  &lt;= 50
		ORDER BY ROWNUM DESC
	</entry>
	
	<entry key="getChattingsNew">
		SELECT *
		FROM (	SELECT C.*,  NICKNAME AS USER_NICK
			    FROM CHATTING C
	            INNER JOIN MEMBER M ON C.USER_ID = M.USER_ID
				WHERE (C.USER_ID, RECEIVE_ID) IN (( ? , ? ), ( ? , ? ))
					AND CREATE_DATE > SYSDATE-7
				ORDER BY CREATE_DATE DESC, CHAT_NO DESC )
        WHERE ROWNUM &lt;= 50
        ORDER BY ROWNUM DESC
	</entry>
	
	<entry key="selectChatCountForDelete">
		SELECT COUNT(*) AS COUNT
		FROM CHATTING
		WHERE SYSDATE-7 >= CREATE_DATE
	</entry>
	
<!-- INSERT 구역 -->

	
	<entry key="insertChatRoom">
		INSERT INTO CHATTINGROOM VALUES( ? , ? )
	</entry>

	<entry key="insertChat">
		INSERT INTO CHATTING VALUES(SEQ_CHAT.NEXTVAL, ? , ? , ?, SYSDATE)
	</entry>


<!-- DELETE 구역  -->

	<entry key="deleteChatRoom">
		DELETE FROM CHATTINGROOM
			WHERE  USER_ID = ? 
				AND RECEIVE_ID = ?
	</entry>
	
	
	<entry key="deleteChatLogs">
			DELETE FROM CHATTING
			WHERE  SYSDATE-7 >= CREATE_DATE
	</entry>
	
	
	
	
</properties>