<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertSkin">
		INSERT INTO CHARACTER_SKIN(SKIN_ID, SAVE_ROOT, CHARACTER_PRICE, REWARD)
		VALUES( SEQ_SKIN.NEXTVAL , '/'||SEQ_SKIN.CURRVAL, ?, ? );
	</entry>

	<entry key="selectSkinCurval">
		SELECT SEQ_SKIN.CURRVAL FROM DUAL;
	</entry>

</properties>